*{
	font-family: Arial ;
	padding: 0px;
	margin: 0px;
}


body{
	background-image: url(/static/img/background.png);
	background-repeat: no-repeat;
	min-width: 1500px;
	min-height: 990px;
	max-width: 1500px;
	max-height: 990px;
}


#wrap {
	height: 100%; 
	margin: 0px;
	position: relative;
}

#content{
	position: absolute;
	height: 780px;
	width: 1280px;
	display: inline-block;
	top:120px;
	left: 55px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 55px;
	padding-right: 55px;
}
#quiz-headline{
	line-height: 60px;
	font-size: 40px;
	margin-bottom: 50px;	
}
.question-text{
	line-height: 60px;
	font-size: 40px;
	font-weight: normal;

}

.answers{
	position: absolute;
	left: 55px;
	bottom: 110px;
	padding-bottom: 20px;
}

a.button {

  text-align: center;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  outline: none;
  background-image: url(/static/img/button.png);
  width:240px;
  height: 104px;
  transition: all .218s ease 0s;
  vertical-align: center;
  bottom: 10px;
  font-size: 40px;
  line-height: 104px;
  float: left;
  margin-right: 15px;
}

a.navigation-button{
  text-align: center;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  outline: none;
  width:75px;
  height: 45px;
  transition: all .218s ease 0s;
  vertical-align: center;
  font-size: 40px;
  line-height: 45px;
  margin-right: 15px;

}

.back-button{
	background-image: url(/static/img/back-button.png);
    position: absolute;
	bottom: 20px;
	left: 55px;
}

.next-button{
	background-image: url(/static/img/next-button.png);
    position: absolute;
	bottom: 20px;
	right: 55px;
}


a.button:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
