{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Survey
{% endblock title %}

{% block extra_head %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

{% endblock extra_head %}

{% block content %}


<div id="wrap">
	
<div id="content">
<h2 id="quiz-headline">{{ survey.name }}</h2>
<div style="display:None">
	<form>
	{% for question, answers in questions %}
	{% csrf_token %}
        <input id="question-{{ question.pk }}-answer" name="answer-for-{{ question.pk }}">
	{% endfor %}
		
	</form>

</div>
{% for question, answers in questions %}
    {% if forloop.first %}
    <div id='question-{{ question.pk }}' class="question" number="{{ question.number }}">
	     <div class="question-text">{{question.question | linebreaks}}</div>

    <div class="answers">
    <div class="answer-span-container statistic">
    {% for answer in answers %}
    <span class="answer-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-span" is-right="{{ answer.is_Correct }}">{{ answer.answer}}</span>
    {% endfor %}
    </div>
    <br/>
    <span class='statistic-span statistic'>Auswertung</span>
    {% for answer in answers %}
        <a href="#" value="{{ answer.pk}}" class="button answer" number="{{ answer.number }}"> {{ answer.answer}}</a>
        <input type="hidden" id="question-{{ question.pk }}_answer-{{ answer.pk }}-url" name="" value="{% url 'renew_number' question.pk answer.pk %}">
        <div class='statistic'>
        <span class="progress-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span"></span><div class="progress-bar"><div id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress" class="progress"></div></div>
        <script type="text/javascript">
        	var questionNumber = '{{ question.number }}';
        	var answerNumber = '{{ answer.number }}';
        	rate = parseInt(answerNumber) * 100 / (parseInt(questionNumber)+1);
        	rate = rate.toFixed(2)
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span").text(rate + " %");
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress").width(rate + "%");

        </script>
        </div>
    {% endfor %}

    </div>
    <a href="#" class="navigation-button back-button back-button__first"></a>
    <a href="#" class="navigation-button next-button next-button__not-last"></a>
    
    </div>
    
    {%  elif forloop.last %}
    
    <div id='question-{{ question.pk }}' class="question" number="{{ question.number }}" style="display: None;">
	     <div class="question-text">{{question.question | linebreaks}}</div>

    <div class="answers">
    <div class="answer-span-container statistic">
    {% for answer in answers %}
    <span class="answer-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-span" is-right="{{ answer.is_Correct }}">{{ answer.answer}}</span>
    {% endfor %}
    </div>
    <br/>
    <span class='statistic-span statistic'>Auswertung</span>
    {% for answer in answers %}
        <a href="#" value="{{ answer.pk}}" class="button answer" number="{{ answer.number }}"> {{ answer.answer}}</a>
        <input type="hidden" id="question-{{ question.pk }}_answer-{{ answer.pk }}-url" name="" value="{% url 'renew_number' question.pk answer.pk %}">
        <div class='statistic'>
        <span class="progress-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span"></span><div class="progress-bar"><div id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress" class="progress"></div></div>
        <script type="text/javascript">
        	var questionNumber = '{{ question.number }}';
        	var answerNumber = '{{ answer.number }}';
        	rate = parseInt(answerNumber) * 100 / (parseInt(questionNumber)+1);
        	rate = rate.toFixed(2)
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span").text(rate + " %");
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress").width(rate + "%");

        </script>
        </div>
    {% endfor %}

    </div>
    <a href="#" class="navigation-button back-button back-button__not-first"></a>
    <a href="#" class="navigation-button next-button next-button__last"></a>
    </div>
    
    {% else %}
    
    <div id='question-{{ question.pk }}' class="question" number="{{ question.number }}" style="display: None;">
	     <div class="question-text">{{question.question | linebreaks}}</div>

    <div class="answers">
    <div class="answer-span-container statistic">
    {% for answer in answers %}
    <span class="answer-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-span" is-right="{{ answer.is_Correct }}">{{ answer.answer}}</span>
    {% endfor %}
    </div>
    <br/>
    <span class='statistic-span statistic'>Auswertung</span>
    {% for answer in answers %}
        <a href="#" value="{{ answer.pk}}" class="button answer" number="{{ answer.number }}"> {{ answer.answer}}</a>
        <input type="hidden" id="question-{{ question.pk }}_answer-{{ answer.pk }}-url" name="" value="{% url 'renew_number' question.pk answer.pk %}">
        <div class='statistic'>
        <span class="progress-span" id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span"></span><div class="progress-bar"><div id="question-{{ question.pk }}_answer-{{ answer.pk}}-progress" class="progress"></div></div>
        <script type="text/javascript">
        	var questionNumber = '{{ question.number }}';
        	var answerNumber = '{{ answer.number }}';
        	rate = parseInt(answerNumber) * 100 / (parseInt(questionNumber)+1);
        	rate = rate.toFixed(2)
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress-span").text(rate + " %");
        	$("#question-{{ question.pk }}_answer-{{ answer.pk}}-progress").width(rate + "%");

        </script>
        </div>
    {% endfor %}

    </div>
    <a href="#" class="navigation-button back-button back-button__not-first"></a>
    <a href="#" class="navigation-button next-button next-button__not-last"></a>
    </div>

    {% endif %}

{% endfor %}
	
</div>


</div>


<script src="{% static 'js/script.js' %}"></script>
{% endblock %}